*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: rgb(250, 226, 230);
  font-family: sans-serif;
}
.home{
  margin: 40px;
}
.home a{
  color: black;
  text-decoration: none;
  font-weight: 700;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 20px;
}
.container{
  background-color: white;
  display : flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
.container h1{
  font-size: 23px;
  color: rgb(29, 25, 25);
  font-weight: 900;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
}
.container h3{
  color: rgb(122, 120, 120);
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
}
.password-div{
  position: relative;
}
.visible-off{
  fill: black;
  position: absolute;
  top: 15px;
  left: 16.5rem;
}
.input{
  width: 300px;
  height: 45px;
  border-radius: 10px;
  color: rgb(49, 48, 48);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
  padding-left: 12px;
  border: solid;
  border-width: 1.3px;
  border-color: rgb(175, 173, 173);
}
.input::placeholder{
 padding-left: 15px;
 font-size: 13px;
}
.button-div{
  position: relative;
  display: flex;
  justify-content: center;
}
button{
  font-size: 13px;
  background-color: rgb(71, 139, 240);
  color: white;
  border: none;
  width: 300px;
  padding-block: 10px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
button:active{
  opacity: 0.6;
}
.facebook{
  margin-right: auto;
  margin-left: auto;
}
.google-btn{
  background-color: white;
  color: rgb(133, 129, 129);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(180, 177, 177);
  font-size: 13px;
  width: 300px;
  height: 35px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.bottom-div{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
h4{
  color: rgb(114, 109, 109);
  font-size: 13px;
  text-decoration: underline;
}
h5{
  font-size: 13px;
  color: rgb(133, 193, 248);
  text-decoration: underline;
  margin-left: 8px ;
}
.line-div{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
hr{
 width: 110px;
 margin-top: 12px;
}
.line-text{
  margin-inline: 7px
}
.fa{
  font-size: 20px;
  left: 12px;
  position: absolute;
}
.svg{
  position: absolute;
  left: 12px;
  top: 5px;
}

/*login page style*/

.login-container{
  background-color: white;
  display : flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
.welcome-div{
  margin-right: auto;
  margin-left: auto;
}
.login-container h1{
  font-size: 20px;
  color: rgb(26, 22, 22);
  font-weight: 900;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-right: 9px;
  display:inline-block;
}
.login-input{
  width: 300px;
  height: 45px;
  border-radius: 10px;
  color: rgb(49, 48, 48);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 10px;
  padding-left: 12px;
  border: solid;
  border-width: 1.3px;
  border-color: rgb(175, 173, 173);
}
.login-input::placeholder{
 padding-left: 15px;
 font-size: 13px;
}
.login-password-div{
  position: relative;
}
.visible{
  fill: black;
  position: absolute;
  top: 44px;
  left: 16.5rem;
}
label{
  font-size: 15px;
  font-weight: 600;
  color: rgb(175, 173, 173);
}
.checkbox::after{
  background-color: white;
  color: black;
}
.remember-me-div{
  display: flex;
  margin-bottom: 27px;
}
.remember-me{
  display: flex;
}
.forget-password{
  margin-left: auto;
}
.remember-me-div h3{
  font-size: 12px;
  margin-left: 10px;
  color: rgb(133, 127, 127);
}
.remember-me-div h2{
  font-size: 12px;
  color: rgb(240, 163, 163);
}
.login-button-div{
  position: relative;
  display: flex;
  justify-content: center;
}
button{
  font-size: 13px;
  background-color: rgb(71, 139, 240);
  color: white;
  border: none;
  width: 300px;
  padding-block: 10px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
button:active{
  opacity: 0.6;
}
.facebook{
  margin-right: auto;
  margin-left: auto;
}
.login-google-btn{
  background-color: white;
  color: rgb(133, 129, 129);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(180, 177, 177);
  font-size: 13px;
  width: 300px;
  height: 35px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.login-bottom-div{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
h4{
  color: rgb(114, 109, 109);
  font-size: 13px;
  text-decoration: underline;
}
h5{
  font-size: 13px;
  color: rgb(133, 193, 248);
  text-decoration: underline;
  margin-left: 8px ;
}
.login-line-div{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 40px;
}
hr{
 width: 110px;
 margin-top: 12px;
}
.login-line-text{
  margin-inline: 7px
}
.fa{
  font-size: 20px;
  left: 12px;
  position: absolute;
}
svg{
  position: absolute;
  left: 12px;
  top: 5px;
}

@media(max-width: 600px){
form{
  display: flex;
 flex-direction: column;
  align-items: center;
}
.container{
  background-color: white;
  display : flex;
  flex-direction: column;
  justify-content: center;
}
.home{
  display: flex;
  justify-content: start;
}
.home a{
  color: black;
  text-decoration: none;
  font-weight: 700;
}
}